<% let pageTitle='Conocenos' %>

    <%- include('partials/head', { pageTitle: pageTitle, styles: ['aboutUs'] }) %>

        <body>
            <%- include('./partials/header') %>

                <main>
                    <div class="hero-about-us">
                        <h3>Somos tu próxima elección</h3>
                        <p>Somos Peak</p>
                    </div>

                    <div class="our-story">
                        <div class="our-story-left">
                            <h3>La aventura de <span>emprender</span>...</h3>
                            <div class="our-story-p">
                                <p>Seis personas con profesiones diferentes pero complementarias se encuentran en un
                                    curso de programación y deciden crear su propia tienda de venta digital. <br>
                                    Motivados por el amor a la naturaleza y los desafíos, llevaron el concepto de "cima"
                                    más allá: <b> Peak es eso, es querer, poder y arriesgarse.</b></br> </p>
                            </div>
                        </div>
                        <div class="our-story-right">
                            <img src="images/Peak-team.webp" alt="equipo de trabajo">
                        </div>
                    </div>

                    <div class="title">
                        <h2> El equipo </h2>
                    </div>

                    <div class="all-members">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/Cami.jpeg" class="img-expanded" alt="Camila Gon">
                            </div>
                            <div class="member-information">
                                <h3>Camila Gon</h3>
                                <p>Especialista en diseño UX/UI.</p>
                            </div>
                        </div>

                        <div class="member">
                            <div class="member-img">
                                <img src="/images/andre.jpeg" alt="Andrea Toledo">
                            </div>
                            <div class="member-information">
                                <h3>Andrea Toledo</h3>
                                <p> Responsable equipo de desarrollo.</p>
                            </div>
                        </div>

                        <div class="member">
                            <div class="member-img">
                                <img src="/images/ro.jpeg" alt="Rocío Martinez">
                            </div>
                            <div class="member-information">
                                <h3>Rocío Martinez</h3>
                                <p> Responsable Gestión Corporativa. </p>
                            </div>
                        </div>

                        <div class="member">
                            <div class="member-img">
                                <img src="/images/jose.jpeg" alt="Josefina Eberhardt">
                            </div>
                            <div class="member-information">
                                <h3>Josefina Eberhardt</h3>
                                <p> Responsable de Producto.</p>
                            </div>
                        </div>

                        <div class="member">
                            <div class="member-img">
                                <img src="/images/mati.jpeg" alt="Matias Leglise">
                            </div>
                            <div class="member-information">
                                <h3>Matias Leglise</h3>
                                <p> Responsable Marketing Digital.</p>
                            </div>
                        </div>

                        <div class="member">
                            <div class="member-img">
                                <img src="/images/avatars/default-image.jpg" alt="Juan Manuel Francesconi">
                            </div>
                            <div class="member-information">
                                <h3>Juan M. Francesconi</h3>
                                <p> Responsable Gestión de Calidad. </p>
                            </div>
                        </div>
                    </div>

                    <div class="title">
                        <h2> Peak en números </h2>
                    </div>

                    <div class="company-numbers">
                        <div class="number">
                            <div class="circle">
                                <i class="fa-solid fa-shop" style="color: #FFD43B;"></i>
                            </div>
                            <h2>31</h2>
                            <p> sucursales en todo el país </p>
                        </div>

                        <div class="number">
                            <div class="circle">
                                <i class="fas fa-users" style="color: #FFD43B;"></i>
                            </div>
                            <h2>+1500</h2>
                            <p>personas trabajando juntas</p>
                        </div>

                        <div class="number">
                            <div class="circle">
                                <i class="fas fa-tshirt" style="color: #FFD43B;"></i>
                            </div>
                            <h2>+50</h2>
                            <p> variedades de productos </p>
                        </div>
                    </div>

                    <div class="title">
                        <h2> Nuestro compromiso con la sociedad </h2>
                    </div>

                    <div class="sustainable">
                        <div class="sust">
                            <img src="images/modacircular.webp" alt="persona sosteniendo prendas">
                            <div class="overlay">
                                <h3>Moda circular</h3>
                                <p> Todos los productos que por temporada no se venden, se alquilan y se reduce en un 70% su costo para minimizar los residuos y el uso de nuevos materiales.</p>
                            </div>
                        </div>

                        <div class="sust">
                            <img src="images/modacircular.webp" alt="persona sosteniendo prendas">
                            <div class="overlay">
                                <h3>Programa de apoyo a emprendedores locales</h3>
                                <p> Colaboramos con pequeñas empresas y artesanos locales incluyendo sus productos en nuestras entregas para promocionarlos.</p>
                            </div>
                        </div>

                        <div class="sust">
                            <img src="images/modacircular.webp" alt="persona sosteniendo prendas">
                            <div class="overlay">
                                <h3>Compromiso con el medio ambiente</h3>
                                <p> Utilizamos embalajes ecoamigables y fomentamos el reciclaje entre nuestros clientes mediante incentivos y campañas de concientización.</p>
                            </div>
                        </div>




                    </div>



                </main>

                <%- include('./partials/footer') %>

        </body>


        </html>