<% let pageTitle='OBTENER AYUDA' %>
    <%- include('partials/head', { styles: ['help'], pageTitle: pageTitle }) %>


    <body>

        <%- include('./promotion') %>
        <%- include('./partials/header') %>

            <main>

                    <section>
                        <h1>OBTENER AYUDA</h1>
                    </section>
                    <br>
                    <div class="form">
                        <form class="nav-search"   action="#"  method="post">
                            <input type="text"   placeholder="¿Con que podemos ayudarte?">
                        </form>
                    </div>
                     <!-- INICIA BLOQUE DE AYUDA RAPIDA -->
                     <section class="fast-help">
                        <div class="encabezados">
                            <h1 class="fast-service">SERVICIO DE ASISTENCIA RÁPIDA</h1>
                            <p class="frecuent-questions">Las respuestas a las preguntas más frecuentes están a solo un clic.</p>
                        </div>
                        <div class="general-questions">
                            <div class="envio-entrega">
                                <div class="title">
                                    ENVÍO Y ENTREGA
                                </div>
                                <div class="questions">
                                    <div>¿Cuáles son las opciones de entrega de Peak?</div>
                                    <div>¿Cómo sigo mi pedido?</div>
                                </div>
                            </div>
                            <div class="devoluciones">
                                <div class="title">
                                    DEVOLUCIONES
                                </div>
                                <div class="questions">
                                    <div>¿Cuál es la política de devoluciones de Peak?</div>
                                    <div>¿Cuándo veré mi reintegro?</div>
                                </div>
                            </div>
                            <div class="pedidos">
                                <div class="title">
                                    PEDIDOS
                                </div>
                                <div class="questions">
                                    <div>¿Qué métodos de pago puedo utilizar para hacer pedidos?</div>
                                    <div>¿Cómo hago el seguimiento del estado de mi pedido?</div>
                                    <div>¿Puedo cancelar o cambiar mi pedido?</div>
                                </div>
                            </div>
                            <div class="informacion producto">
                                <div class="title">
                                    INFORMACIÓN DEL PRODUCTO
                                </div>
                                <div class="questions">
                                    <div>¿Los productos tienen garantía?</div>
                                    <div>¿Cómo encuentro el talle adecuado?</div>
                                    <div>¿Cómo puedo limpiar mi calzado, ropa o equipo?</div>
                                </div>
                            </div>
                            <div class="corporativo">
                                <div class="title">
                                    CORPORATIVO
                                </div>
                                <div class="questions">
                                    <div>¿Dónde puedo obtener más información acerca de Peak?</div>
                                    <div>¿Cómo me entero de las promociones?</div>
                                </div>
                            </div>
                        </div>
                     </section>

                     <div class="asistencia">
                        Si no respondiste tus dudas, envianos un <span> WhatsApp al 01153689547</span>. Es nuestro número de asistencia al cliente, estamos disponibles en días hábiles las 24hs.
                     </div>

                     <div id="map"></div>
                         <!--Botón Suscribirse-->
    <div class="container-sub">
        <div class="conten-sub">
        <h2>Suscribite a nuestras notificaciones</h2>
        <p>Enterate de nuestras promociones y beneficios</p>
        <form action="#"> 
            <input type="email" class="data" placeholder="Introducí tu correo electrónico" maxlength="25" required>
            <input type="submit" value="Suscribirme" class="btn-sub">
        </form>
        </div>
    </div>
            </main>
            <script src="/js/maps.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
            
        <%- include('./partials/footer') %>

    </body>

</html>