<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <!--Section de Cami para la imagen principal -->  
        </section>
        <section>
            <!--Section de Cami para las dos cards -->
        </section>
        <section>
            <!--Section de Juan para la imagen del viejito -->
        </section>
        <section>
            <!--Section de Juan para las ultimas 4 cards-->
        </section>
    </main>
    <footer>

    </footer>    
    
</body>
</html>