<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <title>Bienvenidos</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/images/peaklogo.png" alt="Peak's logo">
        </div>
        <div class="right-elements">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="burguer-menu">
                <a class="burguer"><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>

        <nav>
            <div class="center-nav">
                <ul class="nav-bar">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="#">OULET</a></li>
                    <li><a href="#">DEPORTE</a></li>
                    <li><a href="#">CONTACTO</a></li>
                </ul>
            </div>

            <div class="right-nav">
                <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="icon"><i class="fa-solid fa-user"></i></div>
                <div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
            </div>
        </nav>

    </header>
    <main>
        <section>
            <!--Section de Cami para la imagen principal -->
        </section>
        <section>
            <!--Section de Cami para las dos cards -->
        </section>
        <section>
            <!--Section de Juan para la imagen del viejito -->
        </section>
        <section>
            <!--Section de Juan para las ultimas 4 cards-->
        </section>
    </main>
    <footer>

    </footer>

</body>

</html>