<% let pageTitle='Ingresá a tu cuenta' %>
    <%- include('partials/head', { styles: ['stylesForm'], pageTitle: pageTitle }) %>


        <body>

            <%- include('./partials/header') %>

                <main>
                    <div>
                        <section id="sectionLogin">
                            <div id="loginBox">
                                <span id="loginTitle"><strong>Iniciá sesión</strong></span>
                                <p id="paragraphTitle">
                                    Para guardar elementos como favoritos o realizar compras
                                </p>

                                <div id="formLogin">
                                    <form  class="loginForm" action="/user/login" method="post">
                                        <div>
                                            <label for="emailLogin"><strong>Correo electrónico</strong></label>
                                            <input class="email"  type="email" name="email" id="emailLogin"  required> 
                                            <div id="emailError" style="display: none; color: #ffa18d;"></div>

                                            <label for="passwordFieldLogin"><strong>Contraseña</strong></label>
                                            <div class="password-input-container-login">
                                                <input type="password" name="password" id="passwordFieldLogin" required>
                                                <div id="passwordError" style="display: none; color: #ffa18d;"></div>

                                                <i id="togglePassword" class="fas fa-eye-slash"
                                                    onclick="togglePasswordVisibility()"></i>
                                            </div>
                                        </div>

                                        <% if (locals.errors?.unauthorize) { %>
                                            <div class="error">
                                                <p class="error-message">
                                                    <i class="fas fa-times-circle"></i>
                                                    <%= errors.unauthorize.msg %>
                                                </p>
                                            </div>
                                            <% } %>
                                                <div id="rememberMe">
                                                    <label class="recordarme">Recordarme</label>
                                                    <input type="checkbox" name="recordarme">
                                                </div>
                                                <button type="submit">Iniciar sesión</button>
                                                <span id="login-message">¿Todavía no tenés tu cuenta? <span style="margin-left: 10px;"><a href="/user/register" class="back-register">REGISTRATE</a></span></span>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </main>
                
                <script>
                    function togglePasswordVisibility() {
                        var passwordField = document.getElementById("passwordFieldLogin");
                        var togglePassword = document.getElementById("togglePassword");
                
                        if (passwordField.type === "password") {
                            passwordField.type = "text";
                            togglePassword.classList.remove("fa-eye-slash");
                            togglePassword.classList.add("fa-eye");
                        } else {
                            passwordField.type = "password";
                            togglePassword.classList.remove("fa-eye");
                            togglePassword.classList.add("fa-eye-slash");
                        }
                    }
                </script>

                <%- include('./partials/footer') %>

        </body>

        <script src="/js/loginValidations.js"></script>
        </html>