<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylesForm.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/images/peaklogo.png" alt="Logo Peak">
        </div>
        <div class="form" action="#" method="GET">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    

    </header>

    <main class="login">
    <img src="images/bg-login.jpg" />
        <div>
        <form action="/" method="POST">
            <input type="text" name="user" placeholder="Email">
            <input type="password" name="pass" placeholder="Contraseña">
            <input type="submit" value="Iniciar Sesion">
        </form>
        </div>
    </main>

    <footer>
        <div><h3 class="copyright">Términos y condiciones - Créditos - PEAK. - © 2023. Todos los derechos reservados.</h3></div>
    </footer>

</body>

</html>