<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <div>
                <img src="/images/" alt="logo-mercado-liebre">
            </div>
            <h1>MOCHILA PEAK</h1>

        </section>
      


    </main>
    <footer>

    </footer> 
    
</body>
</html>