<% let pageTitle = 'Productos' %>
<%- include('partials/head', { styles: ['productDetail'], pageTitle: pageTitle }) %>

<body>
    
    <%- include('./partials/header') %>

    <main>

        
       
    </main>

    <%- include('./partials/footer') %>

</body>
</html>
