<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="/css/productDetail.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/peaklogo.png" alt="Peak's logo">
        </div>
        <div class="right-elements">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="burguer-menu">
                <a class="burguer"><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>
        <nav class="center-bar">
            <ul class="nav-bar">
                <li><a href="/index.html">HOME</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">OUTLET</a></li>
                <li><a href="#">DEPORTES</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <nav class="right-bar">
            <div class="icon"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>
            <div class="icon"><a href="#"><i class="fa-solid fa-user"></i></a></div>
            <div class="icon"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
        </nav>
    </header>
    <main>
        <h2>Productos > Camping > Mochila Cap</h2>
        <section>
            <div class="card-product">
                <div class="card-image">
                    <img src="/images/mochila1.png" alt="Mochila">
                </div>
                <div class="product-container">
                    <h1>MOCHILA PEAK</h1>
                    <div class="choice-colors">
                        <p class="choice-green"></p>
                        <p class="choice-yelow"></p>
                    </div>   
                    <div class="option-quantity">
                        <p class="total-quantity">Cantidad</p>
                        <button class="submit-less">-</button>
                        <p class="total-quantity-number">1</p>
                        <button class="submit-more">+</button>
                    </div>             
                    <p class="price">$150.000</p>
                    <button class="submit add-to-cart">Añadir al carrito</button>
                    <button class="submit add-to-fav">Agregar a favoritos</button>
                </div>
            </div>
            <div class="all-product-container">
                <div class="info-buy">
                    <i class="fas fa-credit-card"></i>
                    <p>3 y 6 cuotas sin interés con VISA o MASTERCARD</p>
                </div>
                <div class="product-description">
                    Está diseñada con múltiples compartimentos y bolsillos para organizar eficazmente el equipo, con materiales resistentes al agua y abrasión para protegerlo de las inclemencias del tiempo y el desgaste. Su sistema de suspensión ajustable incluye correas para los hombros acolchadas, un cinturón lumbar y un panel trasero transpirable para una distribución equitativa del peso y comodidad.
                </div>
                <div class="product-detail">
                    <p class="technical-specifications">Especificaciones técnicas</p>
                    <p class="custome-product">Personalizar</p>
                </div>
                <div class="product-detail-colors">
                    <p class="detail-1"></p>
                    <p class="detail-2"></p>
                </div>
                <div class="specific-description">
                    <p>Peso soportado: 18kg</p>
                    <p>Medidas: 80 cm de alto, 40 cm de ancho y 30 cm de profundidad.</p>
                </div>
            </div>         
        </section>
    </main>
    <footer>
        <div class="form-suscription">
            <form action="#" method="POST">
                <p>Suscribite para recibir las mejores ofertas</p>
                <input type="email" name="email" placeholder="Correo electrónico">
                <button type="submit">Suscribirme</button>
            </form>
        </div>
        <div class="copyright">
            <p><u>Términos y condiciones</u> - <u>Créditos</u> - PEAK. - © 2023. Todos los derechos reservados.</p>
        </div>
        <div class="social-media-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </footer> 
</body>
</html>