<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b373cc5067.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/stylesCart.css">

</head>

<body>
    <h5>Productos > Carrito de compras</h5>
        <section class="product-list">
            <article class="products">
                <img src="images\mochila1.png" alt="Mochila Peak">
                <div class="description">
                    <p>
                        MOCHILA PEAK
                    </p>
                    <div class="color-elements">
                        <span class="color-text">
                            Sea green
                        </span>
                        <div class="color">
                        </div>
                    </div>
                    <button>
                        Modificar
                    </button>
                </div>
                <div class="product-quantity">
                    <p>
                        Cantidad
                    </p>
                    <div>
                        <div class="less">
                            <p>
                                -
                            </p>
                        </div>
                        <div>
                            <p class="quantity">
                                1
                            </p>
                        </div>
                        <div>
                            <p class="more">
                                +
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cost-delete">
                    <p>
                        $150.000
                    </p>
                    <i class="fa fa-trash"></i>
                </div>
            </article>
        </section>   

        <section class="product-list">
            <article class="products">
                <img src="images\mochila1.png" alt="Mochila Peak">
                <div class="description">
                    <p>
                        MOCHILA PEAK
                    </p>
                    <div class="color-elements">
                        <span class="color-text">
                            Sea green
                        </span>
                        <div class="color">
                        </div>
                    </div>
                    <button>
                        Modificar
                    </button>
                </div>
                <div class="product-quantity">
                    <p>
                        Cantidad
                    </p>
                    <div>
                        <div class="less">
                            <p>
                                -
                            </p>
                        </div>
                        <div>
                            <p class="quantity">
                                1
                            </p>
                        </div>
                        <div>
                            <p class="more">
                                +
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cost-delete">
                    <p>
                        $150.000
                    </p>
                    <i class="fa fa-trash"></i>
                </div>
            </article>
        </section>    










            <!-- <div class="chosen-product">
                <h4 class="name-product">MOCHILA PEAK</h4>
                <img src="\images\mochila1.png" alt="mochila1" class="backpack">
                <p class="color">Sea green</p>
                <div class="product-quantity">
                    <input type="number" value="1" min="1" max="10">
                    <button class="trash-can"><i class="fa fa-trash"></i></button>
                </div>
                <button class="modify">Modificar</button>
            </div>
            <div class="burguer-menu">
                <a class="burguer"><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>

        <nav class="center-bar">
            <ul class="nav-bar">
                <li><a href="/index.html">HOME</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">OUTLET</a></li>
                <li><a href="#">DEPORTES</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <nav class="right-bar">
            <div class="icon"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>
            <div class="icon"><a href="#"><i class="fa-solid fa-user"></i></a></div>
            <div class="icon"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
        </nav>

    </header>
    <main>

        <section>
            <div>
                <ul>
                    <li><span class="product-count">2 productos</span></li>
                    <li><span class="product-price">$237.00</span></li>
                    <li><span class="shipment">Envío</span></li>
                    <li><span class="shipping-type">Gratis</span></li>
                    <li><span class="total">TOTAL</span></li>
                    <li><span class="product-price-total">$237.00</span></li>
                </ul>
                <button class="go-pay" type="submit">IR A PAGAR</button>
            </div>
        </section> -->
    </main>
    <footer>
        <div class="form-suscription">
            <form action="#" method="POST">
                <p>Suscribite para recibir las mejores ofertas</p>
                <input type="email" name="email" placeholder="Correo electrónico">
                <button type="submit">Suscribirme</button>
            </form>
            </div>
            
        </div>
        <div class="copyright">
            <p><u>Términos y condiciones</u> - <u>Créditos</u> - PEAK. - © 2023. Todos los derechos reservados.</p>
        </div>
        <div class="social-media-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </footer> 
    
</body>

</html>