<% let pageTitle='Product edit form' %>
    <%- include('partials/head', { styles: ['stylesInventory'], pageTitle: pageTitle }) %>

        <body>
            <%- include('./partials/header') %>
                <main>
                    <form class="product-edit-form">
                        <h2 id="edit-product-title">Editar producto</h2>
                        <div class="product-edit">
                            <div class="edit-img">
                                <img class="img-edit-product" src="images/3campera-impermeable.jpg"
                                    alt="Mujer con campera impermeable blanca">
                                <button class="edit-image-button">
                                    Editar imágenes
                                </button>
                            </div>
                            <div class="label-product">
                                <label for="product">Producto</label>
                                <input type="text" class="product-imput" name="name" id="name"
                                    placeholder="Nombre del producto" required value="Campera impermeable mujer">
                            </div>

                            <div class="label-product">
                                <label for="description">Descripción</label>
                                <input type="text" class="product-imput" name="description" id="description"
                                    placeholder="Descripción del producto" required
                                    value="Campera resistente al agua con doble protección interna, 6 bolsillos, reversible">
                            </div>

                            <div class="label-product-price">
                                <label for="price">Precio</label>
                                <input type="text" class="product-imput-price" name="price" id="price"
                                    placeholder="Precio del producto" required value="$162.378">
                            </div>

                            <div class="size-options">
                                <label for="size">Talles disponibles</label>
                                <label>
                                    <input type="checkbox" name="sizes" id="sizes" value="XL"> XL
                                </label>
                                <label>
                                    <input type="checkbox" name="sizes" id="sizes" value="L"> L
                                </label>
                                <label>
                                    <input type="checkbox" name="sizes" id="sizes" value="M"> M
                                </label>
                                <label>
                                    <input type="checkbox" name="sizes" id="sizes" value="S"> S
                                </label>
                                <label>
                                    <input type="checkbox" name="sizes" id="sizes" value="XS"> XS
                                </label>
                            </div>

                            <div class="color-options">
                                <label for="color-options">Colores disponibles</label>
                                <label>
                                    <input type="checkbox" name="colors" id="colors" value="white"> Blanca
                                </label>
                                <label>
                                    <input type="checkbox" name="colors" id="colors" value="yellow"> Amarilla
                                </label>
                                <label>
                                    <input type="checkbox" name="colors" id="colors" value="black"> Negra
                                </label>
                            </div>

                            <div class="counter-edit-product">
                                <span id="stock">Stock</span>
                                <div class="button" id="decrease">-</div>
                                <span id="count">24</span>
                                <div class="button" id="increase">+</div>
                            </div>

                            <div class="product-category">
                                <span id="category">Categoría</span>
                                <select class="product-category-detail" id="category">
                                    <option value="montagne">Escalada</option>
                                    <option value="accessories">Accesorios</option>
                                    <option value="senderism">Senderismo</option>
                                    <option value="montagne">Trekking</option>
                                    <option value="shoes">Calzados</option>
                                </select>
                            </div>
                            <div class="button-submit">
                                <input type="submit" class="button-submit" value="Guardar cambios">
                            </div>
                            <div class="button-delete">
                                <input type="submit" class="button-delete" value="Borrar producto">
                            </div>
                    </form>
                    </div>
                </main>
                <%- include('./partials/footer') %>
        </body>

        </html>