<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="/css/productDetail.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <main>
        <p class="step">Productos > Camping > Mochila Cap</p>
        <article class="article-detail">
            <div class="img-container">
                <img src="images\backpack.png" alt="Mochila Peak">
            </div>
            <div class="details-container">
                <div class="title-detail" >
                    <h2>MOCHILA PEAK</h2>
                </div>
                <div class="especs-detail">
                    <div class="color-n-quantity">
                        <div class="colors">
                            <div class="color-green">
                            </div>
                            <div class="color-yellow">
                            </div>
                        </div>

                        <div class="count-detail">
                            <p>Cantidad</p>
                            <div class="less">
                                <p>
                                    -
                                </p>
                            </div>
                            <div>
                                <p class="quantity">
                                    1
                                </p>
                            </div>
                            <div>
                                <p class="more">
                                    +
                                </p>
                            </div>
                        </div>
                    </div>
                    

                    <div class="price-n-cta">
                        <p class="price150000"> $150.000 </p>
                        <button class="add-cart"> Añadir al carrito </button>
                        <button class="add-fav">Agregar a favoritos</button>
                    </div>
                    <div>
                        <div class="off">
                            <i class="fa-solid fa-credit-card" style="color: #7ec989;"></i>
                            <p>
                                3 y 6 cuotas sin interés con VISA o MASTERCARD
                            </p>
                        </div>
                        <p class="article-description">
                            Está diseñada con múltiples compartimentos y bolsillos para organizar eficazmente el equipo, con materiales resistentes al agua y abrasión para protegerlo de las inclemencias del tiempo y el desgaste. Su sistema de suspensión ajustable incluye correas para los hombros acolchadas, un cinturón lumbar y un panel trasero transpirable para una distribución equitativa del peso y comodidad.
                        </p>
                    </div>
                    <div class="text-detail">
                    <span class="tec-espec">Especificaciones técnicas</span>
                    <span class="personalize">Personalizar</span>
                    </div>
                    <p class="tec-espec-description">Peso soportado: 18 kg Medidas: 80 cm de alto, 40 cm de ancho y 30 cm de profundidad.</p>
                </div>

            </div>
        </article>
</body>
</html>