<% let pageTitle='Productos' %>
    <%- include('partials/head', { styles: ['products'], pageTitle: pageTitle }) %>

        <body>

            <%- include('./partials/header') %>

                <main>
                    <article>
                        <div class="img-product">
                            <img src="/images/6gorra.jpg" class="img-product-products" alt="Mujer con gorra">
                            <div class="img-hover">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3>Gorra ligera</h3>
                            <p class="price">$42.000</p>
                        </div>
                    </article>
                </main>

                <%- include('./partials/footer') %>

        </body>

        </html>