<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Carousel de Imágenes</title>
<link rel="stylesheet" href="../css/promotionIMG.css">
</head>
<body>

<div class="carousel-wrapper">
    <div class="carousel-container">
      <div class="carousel-images">
        <img class="carousel-image" src="images\advertisingImages\campera-puffer.jpg" alt="Imagen 1">
        <img class="carousel-image" src="images\advertisingImages\chica-remera-azul.jpg" alt="Imagen 2">
        <img class="carousel-image" src="images\advertisingImages\hombre-campera-amarilla.jpg" alt="Imagen 3">
      </div>
    </div>

    <div class="carousel-container">
        <div class="carousel-images">
          <img class="carousel-image" src="images\advertisingImages\chica-buzo-verde.jpg" alt="Imagen 4">
          <img class="carousel-image" src="images\advertisingImages\hombres-caminando.jpg" alt="Imagen 5">
          <img class="carousel-image" src="images\advertisingImages\chica-campera amarilla.jpg" alt="Imagen 6">
        </div>
    </div>

    <div class="carousel-container">
        <div class="carousel-images">
          <img class="carousel-image" src="images\advertisingImages\chico-buzo-verde.jpg " alt="Imagen 7"> 
          <img class="carousel-image" src="images\advertisingImages\hombre-campera-blue.jpg" alt="Imagen 8">
          <img class="carousel-image" src="images\advertisingImages\mujer-gorro-termico.jpg" alt="Imagen 9"> 
        </div>
    </div>
</div>
  
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../js/carrusel.js"></script>

</body>
</html>
