<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Carousel de Imágenes</title>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="../css/promotionIMG.css">
</head>
<body>

<h2 class="titlecarouselh2">Influencers que confían en Peak</h2>
<div class="carousel-wrapper">
    <div class="carousel-container">
        <div class="carousel-images">
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\campera-puffer.jpg" alt="Imagen 1">
                <p class="carousel-text">Luna Soler</p>
            </div>
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\mujer-campera-naranja.jpg" alt="Imagen 2">
                <p class="carousel-text">Bella Brillante</p>
            </div>
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\hombre-campera-amarilla.jpg" alt="Imagen 3">
                <p class="carousel-text">Alex Summers</p>
            </div>
        </div>
    </div>

    <div class="carousel-container">
        <div class="carousel-images">
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\campera-masculina.jpg" alt="Imagen 4">
                <p class="carousel-text">Daniel Knight</p>
            </div>
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\hombres-caminando.jpg" alt="Imagen 5">
                <p class="carousel-text">Gabriel y Juan Stone</p>
            </div>
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\chica-campera amarilla.jpg" alt="Imagen 6">
                <p class="carousel-text">Elena Fox</p>
            </div>
        </div>
    </div>

    <div class="carousel-container">
        <div class="carousel-images">
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\chico-buzo-verde.jpg" alt="Imagen 7">
                <p class="carousel-text">Mario Martínez</p>
            </div>
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\hombre-campera-blue.jpg" alt="Imagen 8">
                <p class="carousel-text">Nathan Brooks</p>
            </div>
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\mujer-gorro-termico.jpg" alt="Imagen 9">
                <p class="carousel-text">Victoria Lane</p>
            </div>
        </div>
    </div>

    <div class="carousel-container">
        <div class="carousel-images">
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\chica-gorro-verde.jpg" alt="Imagen 10">
                <p class="carousel-text">Isabella Cruz</p>
            </div>
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\chica-remera-azul.jpg" alt="Imagen 12">
                <p class="carousel-text">Maya Harper</p>
            </div>
            <div class="carousel-img-text">
                <img class="carousel-image" src="images\advertisingImages\hombre-campera-amarilla.jpg" alt="Imagen 13">
                <p class="carousel-text">Leo Victorio</p>
            </div>
        </div>
    </div>
</div>
  
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper2/swiper-bundle.min.js"></script> 
<script src="../js/carrusel.js"></script>

</body>
</html>

