<% let pageTitle = 'Registrate' %>
<%- include('partials/head', { styles: ['stylesForm'], pageTitle: pageTitle }) %>

<body>
    
    <%- include('./partials/header') %>

    <main>
        <section id="sectionLogin">
            <img src="\images/bg-signup.jpg" alt="Hombre mirando al horizonte" id="register-image">
            <div id="loginBox">
                <span id="loginTitle"><strong>Crear Cuenta</strong></span>
                <p id="paragraphTitle">
                Comenz치 a vivir la aventura de llegar a la cima                
                </p>
            <div id="formLogin">
                <form action="" method="POST">
                    <div>
                        <label>Nombre</label>
                        <input type="text" name="nombreUsuario">
                    </div>
                    <div>
                        <label>Apellido</label>
                        <input type="text" name="apellidoUsuario">
                    </div>
                    <div>
                        <label>Correo Electr칩nico</label>
                        <input type="email" name="emailUsuario">
                    </div>
                    <div>
                        <label>Contrase침a</label>
                        <input type="password" name="passwordusuario">
                    </div>
                    <div>
                        <label>Repetir contrase침a:</label>
                        <input type="password" name="repetirContrasena">
                    </div>   
                        <button type="submit">Registrarse</button>
                    </form>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>
