main {
    padding-top: 50px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

.nav-search {
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

div.form .nav-search input{
    width: 350px;
    height: 30px;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 16px;
  }

  .frecuent-questions {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 8px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 12px;
  }

  div .questions {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 8px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 12px;
  }

  div .question-sub {
    font-size: 16px;
    font-weight: bold;
  }

  .fast-help {
    margin: 35px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    border-radius: 16px;
  }

  div .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    font-size: 14px;
    padding-top:
    10px;
  }

  .asistencia {
    margin: 5px;
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 15px;
    padding: 16px 147px;
  }

  #map {
    height: 500px;
    height: 467px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0px 124px;
}

/* ------------- Start Suscribe Button ------------- */
.container-sub {
  width: 100%;
  margin: 48px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  }

.conten-sub {
  width: 40%;
  height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 24px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.conten-sub h2 {
  color: #242424;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 16px;
  margin-top: 16px;
}

.conten-sub p {
  color: #242424;;
  font-size: 17px;
  margin-bottom: 25px;
  max-width: 500px;
  text-align: center;
}

.conten-sub form {
  width: 100%;
  max-width: 440px;
  display: flex;
  padding: 16px;
}

.conten-sub .data {
  width: 100%;
  padding: 15px 15px;
  font-size: 16px;
  border: none;
  border-radius: 3px 0px 0px 3px;
  outline: none;
  background-color: #e7e7e7;
  border-radius: 16px 0px 0px 16px;
  }


.conten-sub form .btn-sub {
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  border-radius: 0px 3px 3px 0px;
  background: #f7dc6f;
  color:#333;
  outline: 0px;
}

.conten-sub form .btn-sub:hover {
  background: #145838;
}
/* ------------- End Subscribe Button ------------- */


  @media (max-width: 380px) {
    div.form .nav-search input{
      width: 250px;
      height: 30px;
    }
  }

  @media (max-width: 767px) {
    .asistencia {
        padding: 16px 16px;
    }

    .conten-sub {
      width: 90%;
  }

  .conten-sub p {
    margin-bottom: 0px; 
    padding: 0px 8px;
}

.conten-sub {
  height: max-content;
}

    #map {
        height: 500px;
        height: 467px;
        overflow: hidden;
        border-radius: 10px;
        margin: 0px 24px;
    }
}

  @media (min-width: 768px) {
    main {
      padding-top: 150px;
    }
    .asistencia {
      margin: 15px;
      padding-bottom: 25px;
    }
    div.form .nav-search input{
      width: 450px;
      height: 30px;
    }
    h1 {
      font-size: 30px;
    }
    div .questions {
      font-size: 14px;
    }
    div .title {
      font-size: 16px;
    }
    .asistencia {
      font-size: 20px;
    }

    .asistencia span {
      background-color: #f7dc6f;
    }
    
    .frecuent-questions {
      font-size: 14px;
    }

    .conten-sub h2 {
      font-size: 24px;
      padding: 0px 16px;
  }

  .conten-sub p {
    margin: 0px 16px;
    text-align: left;
  }

.conten-sub {
    width: 80%;
  }
} 

  @media (min-width: 1023px) {
    .fast-help {
      margin: 30px 150px 10px 150px;
    }



  }

  @media (min-width: 1439px) {
    .general-questions {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    div .questions {
      border-bottom: none;
    }
    .fast-help {
      margin: 60px 200px 30px 200px;
    }
    .nav-search {
      padding-top: 15px;
    }
    .asistencia{
      padding-top: 25px;
    }
    div.form .nav-search input {
      height: 40px;
    }
  }

  @media (min-width: 1900px) {
    .fast-help {
      margin: 90px 340px 60px 340px;
    }
    main {
      padding-top: 100px;
    }
    .nav-search { 
      padding-top: 25px;
    }
    .general-questions {
      padding-top: 10px;
    }
    .asistencia{
      padding-bottom: 40px;
    }
  }