main {
  padding: 16px;
}
  
p.step {
  font-size: 1.1vw;
  margin: 60px 0 0 10px;
}

article.article-detail {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 33px 0px 33px 33px;
  backdrop-filter: blur(4px); 
  background-color: rgba(255, 255, 255, 0.5);
}

article.article-detail .img-container {
  display: flex;
  flex-wrap: wrap;
  width: 24%;
  height: 50%;
}

article.article-detail img {
  width: 24%;
  height: 444px;
  object-fit: cover;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 33px 0px 0px 33px;
  border: solid 0.5px #b8b8b829;
}

.background{
  width: 100vw;
  height: 100vh;
  background-image: url('/images/Fondo-productdetail.jpg'); 
  background-size: cover;
}


.details-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 24px;
}

div.title-detail h2 {
  font-size: xx-large;
  display: flex;
  margin-bottom: 6px;
}

.color-n-quantity {
  display: flex;
  align-items: center;
}

div.colors {
  display: flex;
  margin-top: -6px;
}

div.colors div.color-one {
  width: 30px;
  height: 30px;
  background-color: #358D67;
  border-radius: 50%;
  border: solid 3px #C7C7C7;
  margin-right: 8px;
}

div.colors div.color-two {
  width: 30px;
  height: 30px;
  background-color: #EFC84C;
  border-radius: 50%;
}

div.colors div.color-three {
  width: 30px;
  height: 30px;
  background-color: #6D6D6D;
  border-radius: 50%;
  margin-left: 8px;
}

.count-detail {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 32px;
  font-size: 16px;
}

#less {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

#quantity {
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  margin: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
}

#more {
  border: 1px solid #D3563B;
  background-color: #D3563B;
  border-radius: 7px;
  margin: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  cursor: pointer;
}

.price-n-cta {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-items: center;
}

div.price-n-cta p.price-final {
  font-size: 2.5vw;
  font-weight: 800;
  margin-right: 16px;
  align-items: center;
  display: flex;
}

button.add-cart {
  background-color: #080202;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #080202;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
}

button.add-fav {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: 1px solid #080202;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.off {
  display: flex;
  font-size: 18px;
  color: #7ec989;
  margin-bottom: 16px;
}

i.fa-solid.fa-credit-card {
  font-size: 24px;
  margin-right: 16px;
}

p.title-sizes {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}

p.article-description {
  font-size: 16px;
  margin-bottom: 16px;
}

.text-detail {
  font-size: 16px;
  display: flex;
}

p.tec-espec-description {
  font-size: 16px;
  margin-top: 16px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* MEDIA QUERIES START********************************** */

@media (max-width: 425px) {
  div.title-detail h2 {
    font-size: 2.2vw;
}

  article.article-detail img {
    width: 100%;
  }

  .details-container {
    width: 100%;
  }

  div.title-detail h2 {
    font-size: 6vw;
    margin-bottom: 6px;
    margin-top: 8px;
}

div.price-n-cta p.price-final {
  font-size: 6vw;
}

.especs-detail {
  margin-bottom: 16px;
}

p.article-description {
  font-size: 16px;
  margin-bottom: 16px;
  margin: 0px 16px;
}

.details-container {
  margin-bottom: 64px;
}

.count-detail {
  margin-left: 8px;
}


}