* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 100%;
}

div#search-products {
    display: flex;
    justify-content: center;
    padding-top: 92px;
    gap: 24px;
}

input{
    padding: 8px 40px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 32px;
    width: 469px;
    position: relative;
}

.search-button {
    background-color: rgb(239, 227, 89);
    padding: 8px 32px;
    border-radius: 64px;
    color: #000;
    border: none;
    cursor: pointer;
    position: relative;
    left: -110px;
}

input[type="text-search"]:focus + .search-button {
    color: rgb(197, 184, 42);
}


.products-container {
    display: grid;
    justify-content: space-between;
    padding: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px
}

a {
    text-decoration: none; 
    color: inherit; 
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px -3px 0px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 32px;
}

article:hover {
    transform: scale(1.05); 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

div.img-product {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

img.img-product-products {
    display: flex;
    width: 100%;
    height: 268px;
    object-fit: cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.product-detail {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-bottom-right-radius: 32px;
    padding: 16px 8px;
    text-align: center;
}

.img-hover {
    position: absolute;
    background-color: #343434;
    padding: 12px;
    border-radius: 20%;
    color: #EFC84C;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    top: 75%;
    left: 40%;
    opacity: 0; 
    transform: scale(0.8); 
    transition: opacity 0.3s, transform 0.3s; 
}

article:hover .img-hover {
    opacity: 1; 
    transform: scale(1); 
    cursor: pointer;
}

/* QUERY STARTS */


@media (max-width: 480px) {
    article {
        width: 100%
    }

    i.fas.fa-shopping-cart {
        position: relative;
        top: 20%;
        left: 10%;
    }
}



