body {
    overflow: visible;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 220px;
    background-color: white;
    flex-grow: 1;
    flex-direction: column;
}

.profile-wrapper, .profile-wrapper-bottom  {
    max-width: 800px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco casi transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.profile-container {
    margin: 0 auto;
}

.profile-container h4 {
    font-size: 1.6rem; 
    margin: 5px 0; 
    font-style: italic;
    font-weight: 700;
    color: #e8bd36;
}

.profile-container p{
    font-size: 1.5rem;
}

.profile-details img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    position: absolute;
    top: -25%;
    border: solid #efc84c 4px;
}

.profile-details p {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.button-edit {
    text-align: center;
}

.button-edit button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-edit button:hover {
    background-color: #333333;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
}

.img-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 343px;
    background: #efc84c;
    z-index: 0;
    background-image: url(/images/portada_profile.jpg);
    filter: blur(3px);
}

.profile-wrapper {
    max-width: 800px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.img-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
    z-index: 1;
}

p.first-name-user {
    font-size: large;
    background-color: #e8bd36;
}

.favorite-shops {
    display: flex;
    margin-top: 32px;
}

.profile-wrapper-bottom {
    margin: 16px;
    height: 16rem;
    width: 38rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.wrapper-bottom-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.wrapper-bottom-info p{
    font-size: medium;
}