.carousel-wrapper {
    display: flex;
    margin: 0 auto; 
    max-width: 80%; 
    overflow: hidden;
}

.carousel-container {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.carousel-images {
    display: flex;
    justify-content: center; 
    transition: transform 0.5s ease;
}

.carousel-image {
    flex: 0 0 calc(100% / 3); 
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
}

.big-image {
    flex-grow: 2;
}
