*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.publicity {
    display: flex;
    top: 150px;
    align-items: center;
} 
 
 .deportist {
    position: relative;
    width: 90%;
    height: 180px;
    opacity: 1;
    margin: auto;
    z-index: 0;
}

.box1 {
    position: absolute;
    z-index: 1;
    width: 182px;
    height: 65px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.text {
    position: absolute;
    display: flex;
    bottom: 15px;
    align-self: center;
    z-index: 2;
    text-align: left;
    font: normal normal 300 16px/19px Calibri;
    letter-spacing: 0px;
    color: #FFFFFF
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.separate {
    width: 1px;
    height: 221px;
    border: 1px solid grey;
    border-radius: 0px 0px 1px 0px;
    opacity: 1;
    background-color: grey;
}



.shoesNro1 {
    width: 100%;
    height: 40%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 26px;
    opacity: 1;
}

.shoesNro2{
    width: 100%;
    box-shadow: 0px 0px 12px rgb(100, 100, 100);
    border-radius: 20px;
    opacity: 1;
}
.shoesNro3{
    width: 100%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 20px;
    opacity: 1;
}
.shoesNro4{
    width: 100%;
    
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 20px;
    opacity: 1;
}

.description1, .description2, .description3, .description4, .price {
    text-align: left;
    font: normal normal bold 16px/67px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

#little-description {
    text-align: left;
    font: normal normal normal 14px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.description1{
    width: 100%;
    height: 20px;
}
.description2{
    width: 150px;
    height: 20px;
}
.description3{
    width: 150px;
    height: 20px;
}
.description4{
    width: 150px;
    height: 20px;
}

.price , #price-1, #price-2, #price-3, #price-4{
    position: relative;
    width: 70px;
    height: 20px;
}

.card-nro1 {
    width: 40%;
    padding: 20px;
    
}
.card-nro2 {
    width: 40%;
    padding: 20px;

}
.card-nro3 {
    width: 40%;
    padding: 20px;
}
.card-nro4 {
    width: 40%;
    padding: 20px;
}

#shop-cart {
    position: absolute;
    top: 7px;
    right: 6px;
    z-index: 1;
    width: 15px;
    height: 14px;
    color: #EFC84C;
    opacity: 1;
}
button, #button-1, #button-2 , #button-3 , #button-4   
 {
    position: relative;
    top: 25px;
    background-color: #000000;
    border-color: #000000;
    border-radius: 9px;
    width: 30px;
    height: 30px;   
    z-index: 0;
}

.orange-line{
    position: relative;
    width: 40px;
    height: 5px;
    top: 15px;
    background: #D3573C 0% 0% no-repeat padding-box;
    opacity: 1;
}

#heart1 {
    position: relative;
    color: #D3573C;
    z-index: 10;
    width: 22px; 
}

#heart2{
    position: relative;
    width: 22px;
    color: #D3573C;
    z-index: 10;
}
#heart3{
    position: relative;
    width: 22px;
    color: #D3573C;
    z-index: 10;
}
#heart4{
    position: relative;
    width: 22px;
    color: #D3573C;
    z-index: 10;
}

@media (max-width: 768px) {
    #little-description{
        display: none;
    }
    #separate-only-769{
        display: none;
    }
}


@media (min-width: 480px) {
    .shoesNro1{
        height: 54%;
    }

    .shoesNro4{
        height: 62%;
    }
    .deportist {
        height: 350px;
    }
    .box1 {
        width: 300px;
        height: 180px;
    }
    .text {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        bottom: 55px;
    }
    .orange-line{
        width: 90px;
    }
    .separate{
        height: 340px;
    }
    #separate-only-769{
        display: none;
    }
}

@media (min-width: 769px) {

    .card-nro1 {
        width: 18%;
    }
    
    .card-nro2{
        width: 18%;
    }
    .card-nro3{
        width: 18%;
    }
    .card-nro4{
        width: 18%;
    }
    .shoesNro1{
        height: 35%;
    }
    .shoesNro4{
        height: 35%;
    }
    .orange-line{
        width: 29px;
    }
    .separate{
        height: 280px;
    }
    .price{
        bottom: 15px;
    }
    #price-2{
        top: 9px;
    }
    #price-3{
        bottom: 5px;
    }
    #price-4{
        top: 2px;
    }
    #separate-only-769{
        display: block;
    }
    #button-1{
        top: -15px;
        left: 95px;
    }
    #button-2{
        top: 8px;
        left: 95px;
    }
    #button-3{
        top: -7px;
        left: 95px;
    }
    #button-4{
        top: -1px;
        left: 95px;
    }
    #heart1{
        bottom: 113px;
        left: 115px;
    }
    #heart2{
        bottom: 116px;
        left: 115px;
    }
    #heart3{
        bottom: 112px;
        left: 119px;
    }
    #heart4{
        bottom: 113px;
        left: 117px;
    }
    
}


@media (min-width: 1200px) {
    
    .card-nro1 {
        width: 14%;
    }
    
    .card-nro2{
        width: 14%;
    }
    .card-nro3{
        width: 14%;
    }
    .card-nro4{
        width: 14%;
    }
    .shoesNro1 {
        height: 39%;
    }
    .shoesNro4{
        height: 39%;
    }
    .deportist {
        width: 80%;
        height: 450px;
    }
    .text {
        font-size: 40px;
        line-height: 45px;
        text-align: center;
    }
    .box1 {
        width: 400px;
        height: 240px;
    }
    #separate-only-769{
        display: block;
    }
    #price-1{
        top: 13px;
    }
    #price-2{
        bottom: 16px;
    }
    #price-3{
        bottom: 5px;
    }
    #price-4{
        top: 13px;
    }
    #button-1{
        top: 10px;
    }
    #button-4{
        top: 7px;
    }
    #heart1{
        bottom: 123px;
        left: 131px;
    }
    #heart2{
        bottom: 127px;
        left: 132px;
    }
    #heart3{
        bottom: 127px;
        left: 132px;
    }
    #heart4{
        bottom: 126px;
        left: 131px;
    }
    
}