* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;  
}

/* HERO STYLES */
main section#hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

main section img#heroImage {
    display: flex;
    width: 100%;
    height: auto;
}

main section div#rightBox {
    display: flex;
    flex-direction: column;
    color: azure;
    position: absolute;
    top: 251px;
    left: 780px;
    padding-right: 40px;
    width: auto;
}

main section div span#heroTitle {
    font-size: 5rem;
}

main section div p#paragraph {
    font-size: 2rem;
    font-weight: 200;
}

button#buttonHero {
    border: 1px solid white;
    background: none;
    color: inherit;
    font-size: 1.6rem;
    padding: 10px;
    margin-top: 10px;
    width: max-content;
}

main section button#buttonHero:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(239, 227, 89);
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}

/* BENEFITS STYLES */
main section.benefits {
    display: flex;
    background-color: black;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    font-size: 1.6rem;
}

section.benefits #delivery, #personalize, #creditCard, #productReturn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 16px;
}

section.benefits span#titleDelivery, span#titlePersonalize, span#titlecreditCard, span#titleProductReturn{
    color: #EFC84C;
    font-weight: 800;
}


