* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

main{
    padding:80px 0px;
}

p.cart-selection {
    margin-left: 16px;
    font-size:12px;
}

section.product-list {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin: 16px;
    flex-wrap: wrap;
}

section.product-list article.products {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

img {
    width: 15%;
}

section.product-list article.products div.description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section.product-list article.products div.description p {
    font-weight: bold;
    font-size: 1.2rem;
}

section.product-list article.products div.description span.color-text {
    color: #000000;
    opacity: 0.59;
}

section.product-list article.products div.description div.color-elements {
    display: flex;
}

section.product-list article.products div.description div.color-elements div.color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #358D67;
    margin-left: 16px;
}

section.product-list article.products div.description button {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    border: 1px solid black;
    border-radius: 19px;
    width: 100%;
    height: 32px;
}

section.product-list article.products div.product-quantity {
    display: flex;
    align-items: center;
}

section.product-list article.products div.product-quantity div {
    display: flex;
    align-items: center;
}


section.product-list article.products div.product-quantity div.less {
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

section.product-list article.products div.quantity {
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

section.product-list article.products p.more {
    border: 1px solid #D3563B;
    background-color: #D3563B;
    border-radius: 7px;
    margin: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}


section.product-list article.products div.cost-delete {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section.product-list article.products div.cost-delete i {
    margin-left: 13px;
    color: #D3563B;
    font-size: 24px;
    position: static;
    margin-bottom: 5px;
}

section.product-list article.products div.cost-delete p {
    font-size: 2.4vw;
    font-weight: 600;
}


section.product-list article.products div p.quantity {
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    margin: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
}


section.product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px;
    flex-wrap: wrap;
}

section.product-detail article.discount-product {
    display: flex;
    justify-content: space-between;
    width: 35%;

}

section.product-detail article.discount-product div.discount {
    background-color: #FFFFFF;
}

section.product-detail article.discount-product div.discount div.discount-code p {
    background-color: #FFFFFF;
    text-align: left;
    font-family: Open Sans;
    font-size: 18px;
    padding-bottom: 10px;
}

section.product-detail article.discount-product div.discount div.discount-code div.apply-code form {
    background-color: #FFFFFF;
    border: 1px solid #D3563B;
    border-radius: 22px;
    padding: 10px;
}

section.product-detail article.discount-product div.discount button {
    background-color: #D3563B;
    justify-content: flex-end;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Open Sans;
    width: 120px;
    height: 47px;
    border-radius: 20px;
    margin: 0px 10px;
    border:none;
}

input.input {
    border: none;
    font-size: 16px;
    outline: none;
}

div.apply-code {
    display: flex;
    justify-content: flex-end;
    padding-bottom:30px
}

section article div.billing{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section article div.billing div{
    box-sizing:boder-box;
    display: flex;
    gap:130px ;
    padding:5px;
   justify-content:space-between; 
}

section article div.billing div.product-price div.products,
section article div.billing div.product-price div.price,
section article div.billing div.shipment,
section article div.billing div.shipping-type{
    font-family: Open Sans;
    font-size: 16px;
    color: #000000;
    opacity: 0.80;
}

section article div.billing div.shipping-type{
    font-weight:600
    
}

section article div.billing div.total,
section article div.billing div.total-price{
     font-family: Open Sans;
    font-size: 16px;
    color: #000000;
    font-weight:800;
    
}

section article div.billing div.invoice-detail{
    border-bottom-style:solid;
    border-width: 0.8px;
    
}

section article div.billing button{
    background-color:#000000;
    color:#FFFFFF;
    font-size: 16px;
    font-family: Open Sans;
    padding:10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

@media (max-width: 481px) {
    section.product-list article.products {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    section.product-list article.products div.cost-delete p {
        font-size: 20px;
    }

    img {
        width: 50%;
    }

    section article div.billing{
        margin-top:20px;
}

section.product-detail article.discount-product div.discount div.discount-code p {
    font-size: 16px;
    padding-bottom: 20px;
}
    section.product-detail article.discount-product div.discount div.discount-code div.apply-code form {
    width: 150px;
        margin-right:10px;
}
    section.product-detail article.discount-product div.discount button{
    font-size: 12px;
    width: 100px;
    height: 40px;
}

section.product-detail p{
    font-size:14px;
}

input.input{
    width:130px;
}
section.product-detail {
    justify-content: center;
}

section.product-detail article.discount-product {
    justify-content: center;
}
}


@media(min-width: 768px){
p.cart-selection {
    font-size:16px;
}

main{
    width:90%;
}
}



