* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.54);
    width: 100%;
    display:flex;
    justify-content: space-between;
}

header div.logo img {
    width: 84px;
    height: 36px;
    margin-left: 10px;
}

header div.right-elements{
    display: flex;
    align-self: flex-end;
    margin-right: 15px;
}

header div.burguer-menu i,
header div.search i {
    color: #EFC84C;
    width: 30px;
    height: 30px;
    text-align: right;
}

header nav{
    display: none;
}
header ul {
    list-style-type: none;
}

header ul a{
    text-decoration: none;
    color:#EFC84C;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 481px) {
    header div.logo img {
        width: 139px;
        height: 59px;
    }

}