html, body {
    overflow: visible;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 98%;
}

main div{
    display: flex;
    flex-direction: column;   
}
main section#sectionLogin {
    position: relative;
    width: 100%;
    overflow: hidden;
}

p.error-message {
    font-size: 14px;
    padding: 8px 0px 8px 14px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 8px;
}

i.fa-times-circle {
    padding-right: 6px;
    position: static;
}


main section#sectionRegister {
    position: relative;
    width: 100%;
    overflow: hidden;
}

main section div span#loginTitle {
    font-size: 3vw;
    position: relative;
    text-align: center;
}
main section div span#registerTitle {
    font-size: 3vw;
    position: relative;
    text-align: center;
}

main section div p#paragraphTitle {
    font-size: 1.4vw;
    font-weight: 200;
}
main section div p#paragraphRegister {
    font-size: 1.4vw;
    font-weight: 200;
}
main section div#loginBox {
    display: flex;
    flex-direction: column;
    color: azure;
    position: fixed;
    font-size: medium;
}
main section div#registerBox {
    display: flex;
    flex-direction: column;
    color: azure;
    position: absolute;
    font-size: medium;
}
main form {
    display: flex;
    top: 84px;
    position: absolute;
    margin-top: 25px;
    width: 78%;
    flex-direction: column;

}

main form input {
    margin: 5px 0;
    background: none;
    margin-top: -3px;
    width: -webkit-fill-available;
    color: white;
    display: inline-block;
    padding: 0.4rem 0;
    border-bottom: 2px solid #FFFFFF;
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
    outline: none;
}
main section img#register-image {
    display: flex;
    height: auto;
}
main section img#login-image{
display: flex;
width: 820px;
left: -491px;
height: auto;
position: relative;
}
main section button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.6rem;
    padding: 4px;
    margin-top: 29px;
    width: 100%;
    color: inherit;
    margin-top: 15%;
}

main section button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(239, 227, 89);
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}

.recordarme{
    position: relative;
    bottom: 4px;
    display: flex;
}
main section form div#recordarUsuario{
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    align-items: center;
    top: 64%;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

input[type="checkbox"]:checked {
    background-color: black; 
    border: 2px solid black; 
}

input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 16px;
    color: yellow;
    position: relative;
}
  
  .mensaje {
    font-size: 13px;
  }
  
  .mensaje a {
    text-decoration: underline;
    color: #007bff; 
    font-weight: bold;
  }

/* QUERIES START */

/*************MOBILE**************************/
@media (max-width: 480px) {

    main section img#login-image {
        width: max-content;
        left: -935px;
        height: auto;
        position: relative;
    }
    
    main section img#register-image {
        width: max-content;
        left: -175px;
        height: auto;
        position: relative;
    }

    main section div#loginBox {
        top: 150px;
        left: 10%;
        padding-right: 74px;
        width: 100%;
    }

    p.error-message {
        margin-bottom: 24px;
    }

    main section div#registerBox {
        top: 99px;
        left: 40px;
        padding-right: 74px;
        width: 100%;
    }

    main section div#formLogin {
        top: 99px;
        left: 40px;
        padding-right: 74px;
        width: 100%;
    }
    
    main section div span#loginTitle {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    main section div span#registerTitle {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    
    main section div p#paragraphTitle {
        font-size: 1.6rem;
        font-weight: 200;
    }
    main section div p#paragraphRegister {
        font-size: 1.6rem;
        font-weight: 200;
    }
}
/*************TABLET**************************/
@media (min-width: 768px) {
    html body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/bg-login.jpg');
        background-size: cover;
        background-position: center bottom;
    }

    main section img#login-image {
        display: flex;
        width: auto;
        left: -351px;
        position: relative;
    }
    main section form {
        width: 445px;
    }
    main section img#register-image {
        display: flex;
        left: -1px;
        position: relative;
    }
    main section div#loginBox {
        top: 27%;
        left: 22%;
    }
    main section div#registerBox {
        top: 20%;
        left: 20%;
    }
    
    main section div span#loginTitle {
        font-size: 3rem;
        margin-left: 30px;
    }
    main section div span#registerTitle {
        font-size: 3rem;
        left: 20%;
    }
    
    main section div p#paragraphTitle {
        font-size: 1.6rem;
        display: flex;
        position: relative;
        left: 10px;
        margin-top: 10px;
    }
    main section div p#paragraphRegister {
        font-size: 1.6rem;
        display: flex;
        position: relative;
        left: 70px;
    }

    main section button {
        font-size: 1.6rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    main section div#loginBox {
        margin-left: 75px; 
    }
    main section div#registerBox {
        margin-left: 96px;
    }
}

/*************PC*************************/
@media (min-width: 1440px) {
    main section img#login-image {
        display: flex;
        width: inherit;
        left: 0px;
        position: relative;
    }
    main section img#register-image {
        display: flex;
        width: inherit;
        left: 0px;
        position: relative;
    }
    main section div#loginBox {
        position: fixed;
        width: 40%;
        left: 20%;
        top: 24%;
    }
    main section div#registerBox {
        position: absolute;
        width: 80%;
    }
    main section form {
        font-size: 1.6rem;
        width: 611px;
        position: absolute;
        top: 140px;
        left: 150px;
    }
    main section div span#loginTitle {
        font-size: 4rem;
        text-align: center;
        left: 23%;
    }
    main section div span#registerTitle {
        font-size: 4rem;
        display: flex;
        position: relative;
        left: 328px;
    }
    main section div p#paragraphTitle {
        font-size: 2rem;
        position: relative;
        left: 26%;
        top: 20px;
    }
    main section div p#paragraphRegister {
        font-size: 2.6rem;
        position: relative;
        left: 188px;
        top: 20px;
    }

   main section button {
        font-size: 2rem;
        margin-top: 64px;
    }

}

@media (min-width: 1540px) and (max-width: 2560px){
    main section div#loginBox{
    margin-left:14%
        
    }
    main section div span#loginTitle  {
        margin-right:65%;
    }
    
    main section div p#paragraphTitle {
        margin-left:-11%;
    }
    main section div#registerBox {
        margin-left: 12%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


.error-message{
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 10px;
    color: #FFFF;
}