.error-userExist {
    background-color: #ffe6e6;
    border: 2px solid #ff9999;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-userExist h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ff3333;
    margin-bottom: 10px;
}

.error-userExist p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.error-userExist a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff3333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.error-userExist a:hover {
    background-color: #ff6666;
}

@media (min-width: 320px) and (max-width: 475px){
    .error-userExist h1,
    .error-userExist p,
    .error-userExist a {
        font-size: 14px;
    }

}