<footer>
    <div class="form-suscription">
    <form action="#" method="POST">
        <p>Suscribite para recibir las mejores ofertas</p>
        <input type="email" name="email" placeholder="Correo electrónico">
        <button type="submit">Suscribirme</button>
    </form>
    </div>
    <div class="copyright">
        <p><u>Términos y condiciones</u> - <u>Créditos</u> - PEAK. - © 2023. Todos los derechos reservados.</p>
    </div>
    <div class="social-media-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
</footer>