<header>
    <div class="logo">
        <a href="/"><img src="/images/peaklogo.png" alt="Peak's logo"></a>
    </div>
    <div class="right-elements">
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="burguer-menu">
            <a class="burguer"><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
    <nav class="center-bar">
        <ul class="nav-bar">
            <li><a href="/">INICIO</a></li>
            <li><a href="/products">PRODUCTOS</a></li>
            <li><a href="#">OUTLET</a></li>
            <li><a href="#">DEPORTES</a></li>
            <% if (!locals.user) { %>
            <li><a href="/user/register">CREÁ TU CUENTA</a></li>
            <% } %>
        </ul>
    </nav>
    <nav class="right-bar">
        <% if (locals.user) { %>
            <h2 id="userLog">¡Hola <%= locals.user.firstName %>!</h2>
            <% } %>
            <a href="/user/logout">Cerrar sesión</a>
        
            <div class="icon"><a href="/user/login"><i class="fa-solid fa-user"></i></a></div>             
            <div class="icon"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>
            <div class="icon"><a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a></div>     
    </nav>
</header>